<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ctrlr.org/wp-content/uploads/2021/11/fall-movies-index-1628968089.jpg);">
  <div class="container">
    <h1>Lists of Movies</h1>
  </div>
</div>

<ul>
  <% @lists.each do |list| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/user/c_v_r" />
        <div class="card-product-infos">
          <li><%= link_to list.name, list_path(list) %></li>
        </div>
    </div>
  <% end %>
</ul>

<p><%= link_to "create a new list", new_list_path %></p>#
